name: Continuous integration
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  merge_group:
jobs:
  Runner:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # use windows-2022, avoid error: 'wmic' is not recognized as an internal or external command
        os: [ ubuntu-latest, macos-latest, windows-2022 ]
        node-version: [ 16, 18, 20, 22, 24 ]
    steps:
    - name: Checkout Git Source
      uses: actions/checkout@master

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: npm install

    - name: Continuous integration on win32
      run: npm run test
      if: ${{ matrix.os == 'windows-2022' }}

    - name: Continuous integration on linux & darwin
      run: npm run ci
      if: ${{ matrix.os != 'windows-2022' }}
